#todo-list {
  margin-top: 10px;
}

.todo {
  padding: 5px;
}

.delete {
  margin-right: 5px;
}

#create-task {
  margin-top: 10px;
}

.btn-sm {
  margin-top: -3px;
  padding-top: 3px;
  padding-bottom: 3px;
}